<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <li>Can this compile at all?</li>
</ul>

</div>

</body>
</html>
